<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK.Core" version="3.7.302.10" targetFramework="net472" />
  <package id="AWSSDK.DynamoDBv2" version="3.7.301.11" targetFramework="net472" />
  <package id="Corrected.Microsoft.ReportingServices.ReportViewerControl.Winforms" version="150.1358.0" targetFramework="net452" />
  <package id="EPPlus" version="6.0.8" targetFramework="net452" />
  <package id="EPPlus.Interfaces" version="6.0.0" targetFramework="net452" />
  <package id="EPPlus.System.Drawing" version="6.0.0" targetFramework="net452" />
  <package id="Microsoft.Reporting.WinForms.v11" version="1.0.0.0" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.WebForms" version="140.340.80" targetFramework="net452" />
  <package id="Microsoft.ReportingServices.ReportViewerControl.Winforms" version="140.1000.523" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net452" />
  <package id="MySql.Data" version="6.7.9" targetFramework="net452" />
  <package id="NDbfReaderEx" version="1.4.1.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" requireReinstallation="true" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" requireReinstallation="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" requireReinstallation="true" />
  <package id="Unofficial.Microsoft.ReportingServices" version="13.0.0" targetFramework="net452" />
</packages>